<div class="row">
  <h1 class="col-md-10">Login</h1>
  <div class="col-md-10">
    <% if @message %>
      <div class="alert alert-danger" role="alert"><%= @message %></div>
    <% end %>
  </div>

  <div class="col-md-10">
    <%= bootstrap_form_tag url: '/sessions' do |f| %>
      <%= f.email_field :email, placeholder: "Email", hide_label: true %>
      <%= f.password_field :password, placeholder: "Password", hide_label: true %>
  </div>
  <div class="col-md-10">
      <%= f.submit "Login", class: "btn btn-info btn-block" %>
    <% end %>
  </div>
  <div class="col-md-10">
    <%= link_to 'Don\'t have an account? Register', new_user_path %>
  </div>
</div>
