<div class="row">
  <div class="col-md-10">
    <% if @errors %>
      <% @errors.each do |error|%>
        <div class="alert alert-danger" role="alert"><%= error %></div>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-10">
    <%= bootstrap_form_tag url: '/users', layout: :horizontal, inline_errors: true do |f| %>
    <%= f.text_field(:first_name) %>
    <%= f.text_field(:last_name) %>
    <%= f.text_field( :email) %>
    <%= f.password_field(:password) %>
    <%= f.submit "Register"%>
  <% end %>
  </div>
</div>
