<div class="center-log-reg">
  <div class="log-reg-page">

    <div class="app-logo col-md-12">
      <%= image_tag("logo.png", class: "image-responsive") %>
    </div>



    <div class="row">
      <div class="col-md-12">
        <h1>Join a playlist</h1>
      </div>
    </div>

    <div class="row">
      <% if @errors %>
          <p class="alert alert-danger">Could not find playlist with that passcode</p>
      <% end %>
    </div>

    <%= bootstrap_form_tag url: '/playlists/verify', class: "form-inline" do |f| %>
      <%= f.text_field(:passcode, placeholder: "Passcode", hide_label: true ) %>
      <%= f.submit "Join", class: "btn btn-info btn-block" %>
    <% end %>


  <div class="row">
    <%= link_to "Download app to create and manage playlists" %>
  </div>

  </div>
</div>
