<div id="create-playlist-form">
  <%= bootstrap_form_tag  url: "/playlists" do |f| %>
    <div class="form-group">
    <%= f.select(:spotify_id, options_for_select(@spotify_playlists), class: "selectpicker", hide_label: true) %>
    </div>
    <%= f.number_field "request_limit", min: 0, max: 5  %>
    <%= f.number_field "flag_minimum", min: 0, max: 5 %>
    <%= f.check_box "allow_explicit", class: "checkbox" %>
    <%= f.submit "Create WeJ Playlist" %>
  <% end %>
</div>

