Hey!
<br>
<form action="/spotify" method="POST" name='search' id="search-form">
  <input type="search" name="query" id="search-box">
  <select name="type">
    <option value="song">Song</option>
    <option value="artist">Artist</option>
    <option value="album">Album</option>
  </select>
  <button type='submit' id="song-submit-button">Add Song</button>
</form>

<% if @return_json %>
  <% if @return_json[0].class == RSpotify::Track %>
    <% @return_json.each do |song| %>
      <%= song.name %><br>
      <%= song.album.name %><br>
      <%= song.artists[0].name %><br><br>
    <% end %>
  <% end %>

  <% if @return_json[0].class == RSpotify::Artist %>
    <% @return_json.each do |artist| %>
      <%= artist.name %><br>
      <%= artist.genres[0] %><br>
      <%= artist.popularity %><br><br>
    <% end %>
  <% end %>

  <% if @return_json[0].class == RSpotify::Album %>
    <% @return_json.each do |album| %>
      <%= album.name %><br>
      <%= album.genres[0] %><br>
      <%= album.release_date %><br>
    <% end %>
  <% end %>
<% end %>

<% @playlistsongs.each do |playlistsong| %>
  <p><%= playlistsong.song.title %></p>
  <%= form_for playlistsong, url: {controller: "votes", action: "create", id: playlistsong.id}, method: :post do |f| %>
    <%= hidden_field_tag 'user_id', current_user.id %>
    <%= hidden_field_tag 'request_type', 'vote' %>
    <%= f.submit "vote" %>
  <% end %>
  <%= form_for playlistsong, url: {controller: "votes", action: "create", id: playlistsong.id}, method: :post do |f| %>
    <%= hidden_field_tag 'user_id', current_user.id %>
    <%= hidden_field_tag 'request_type', 'flag' %>
    <%= f.submit "flag" %>
  <% end %>
<% end %>
